html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #000000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

/* .landscape-img {
  width: 100vw;
  height: auto; 
  object-fit: contain; 
  display: block;
} */

.landscape-img {
  width: 100%; /* Set the width to cover the full viewport */
  height: 100vh; /* Maintain aspect ratio */
  object-fit: contain;
  display: block;
}

.portrait-img {
  width: 100%;
  height: 100vh; /* Set the height to cover the full viewport */
  object-fit: cover; /* Ensures the image covers the entire area, cropping as needed */
  display: block;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* Media query to adjust for wider screens (around 500px and above) */
@media (min-width: 500px) {
  .portrait-img {
    height: auto; /* Adjust height to auto */
    max-height: 100vh; /* Max height will keep the image visible without cutting off */
    width: auto; /* Adjust the width so it shows black bars if necessary */
    object-fit: contain; /* Maintain the aspect ratio without cutting off the top */
  }
}
