html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #000000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}

.title-row {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
  margin-top: 10px;
}

/* Close Button Styles */
.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  position: absolute;
  /* top: 9px; */
  left: 14px;
  cursor: pointer;
  border: none;
}

.close-btn::before,
.close-btn::after {
  content: "";
  position: absolute;
  width: 13px; /* Length of the lines */
  height: 2px; /* Thickness of the lines */
  background-color: white; /* Color of the 'X' */
}

.close-btn::before {
  transform: rotate(45deg); /* First line of the 'X' */
}

.close-btn::after {
  transform: rotate(-45deg); /* Second line of the 'X' */
}

.title-row .close-btn,
.title-row .options-btn {
  position: absolute;
}

.pencil-title-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  color: white;
}

.title-row .pencil {
  height: 18px;
  width: auto;
  margin-right: 2px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5))
    drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
  cursor: pointer;
}

.title-row .add-new-caption {
  cursor: pointer;
}

.title-row .media-item-title {
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  letter-spacing: 0.04rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-left: 10px;
  margin-right: 10px;
}

.options-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  position: absolute;
  right: 14px;
  /* top: 9px; */
  cursor: pointer;
  border: none;
  gap: 0.1175rem;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 50%;
}

/* Bottom Footer */
.title-row-bottom {
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
  margin-top: -18px;
}

.number-of-items-btn {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: absolute;
  right: 14px;
}

.number-of-items-text {
  color: white;
  letter-spacing: 0.09rem;
  /* padding-right: 8px;
  padding-left: 8px; */
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* .landscape-img {
  width: 100vw;
  height: auto; 
  object-fit: contain; 
  display: block;
} */

/* .landscape-img {
  width: 100%; 
  height: 100vh; 
  object-fit: contain;
  display: block;
} */

.landscape-img {
  width: 100vw; /* Set the width to cover the full viewport width */
  height: auto; /* Maintain aspect ratio */
  max-height: 100svh; /* Ensures the image doesn't exceed the viewport height, accounting for dynamic safe area */
  object-fit: contain; /* Ensures the image scales appropriately within its container */
  display: block;
}

.portrait-img {
  height: 100svh; /* Set the height to cover the full viewport */
  max-height: 100svh;
  width: auto;
  object-fit: cover; /* Ensures the image covers the entire area, cropping as needed */
  display: block;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* Media query to adjust for wider screens (around 500px and above) */
@media (min-width: 500px) {
  .portrait-img {
    height: 100vh; /* Keep height consistent across all images */
    width: auto;
    object-fit: cover; /* Adjust to maintain aspect ratio */
  }
}
